{% extends '::public.html.twig' %}

{% block body %}
<div class="slider">
	<div class="callbacks_container">
      <ul class="rslides" id="slider">
       {% for movie in movies %}
	        <li><img src="/images/movies/{{ movie.image }}" class="img-responsive" alt="{{ movie.title }}"/>
	        	<div class="button">
			      <a href="{{ path('index_show', { 'id': movie.id }) }}" class="hvr-shutter-out-horizontal">Voir le film</a>
			    </div>
			</li>
		{% endfor %}
      </ul>
    </div>
</div>
{% endblock %}
