{% extends '::public.html.twig' %}

{% block body %}
<div class="content">
    <div class="movie_top">
        <div class="col-md-12 movie_box">
            <div class="grid images_3_of_2">
            <div class="movie_image">
            <img src="/images/movies/{{ movie.image}}" class="img-responsive" alt=""/>
            </div>

            </div>
            <div class="desc1 span_3_of_2">
            <p class="movie_option"><strong>Anne de production: </strong>{{ movie.releaseyear }}</p>
            <p class="movie_option"><strong>Categorie: </strong><a href="#">{{ movie.category }}</a>
            <p class="movie_option"><strong>Titre: </strong>{{ movie.title }}</p>
            </div>
            <div class="clearfix"> </div>
            <p class="m_4">{{ movie.description }}</p>



        </div>
        <div class="clearfix"> </div>
    </div>
</div>



{% endblock %}
