{% extends '::cockpit.html.twig' %}

{% block body %}
    <h1>Créer une categorie</h1>

    <ul class="ulicons">
        <li>
             <i class="fa fa-undo fa-4" aria-hidden="true">
               <a href="{{ path('cockpit_category_index') }}">liste des categories</a> 
            </i>
        </li>
    </ul>
    <div class="clearfix"></div>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-primary" type="submit" value="Creer" />
    {{ form_end(form) }}
{% endblock %}
