{% extends '::cockpit.html.twig' %}

{% block body %}
    <h1>Categorie</h1>

    <ul class="ulicons">
        <li>
            <i class="fa fa-undo fa-2">
                <a href="{{ path('cockpit_category_index') }}">Retour à la liste des categories</a>
            </i>
        </li>
        <li>
            <i class="fa fa-pencil fa-2">
                <a href="{{ path('cockpit_category_edit', { 'id': category.id }) }}">Editer</a>
            </i>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-warning" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>

    <table class="table table-striped table-bordered table-hover" id="dataTable">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ category.title }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
