<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Fernand Obame Mezui">
    <title>{% block title %}Filmzstories!{% endblock %}</title>

        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 
        </script>
        {% block stylesheets %}
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
            <!-- Bootstrap Core CSS -->
            <link href="{{ asset('cockpit/css/bootstrap.min.css') }}" rel="stylesheet">

            <!-- Custom CSS -->
            <link href="{{ asset('cockpit/css/sb-admin.css') }}" rel="stylesheet">

            <!-- Morris Charts CSS -->
            <link href="{{ asset('cockpit/css/plugins/morris.css') }}" rel="stylesheet">

            <!-- Custom Fonts -->
            <link href="{{ asset('cockpit/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
             <!-- Datatables CSS -->
            <link href="{{ asset('cockpit/css/datatables/jquery.dataTables.min.css') }}" rel="stylesheet">

            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
        {% endblock %}



</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Administration filmzstories</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Bonjour  {{ app.user.username }}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="divider"></li>
                        <li>
                            <a href="{{path('logout')}}"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="{{ path('cockpit_movie_index') }}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN')%}
                    <li>
                        <a href="{{ path('cockpit_user_index') }}"><i class="fa fa-user fa-2"></i> Utilisateurs </a>
                    </li>
                    <li>
                        <a href="{{ path('cockpit_actor_index') }}"><i class="fa fa-users fa-2"></i> Acteurs</a>
                    </li>
                    <li>
                        <a href="{{ path('cockpit_category_index') }}"><i class="fa fa-file-archive-o fa-2"></i> Categories</a>
                    </li>
                    <li>
                        <a href="{{ path('cockpit_movie_index') }}"><i class="fa fa-film fa-2"></i> Films</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">
                {% block body%}{% endblock %}

            </div>
        </div>
         
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/responsiveslides.min.js') }}"></script>
      
          <!-- jQuery -->
    {% block javascripts %}
    <script src="{{ asset('cockpit/js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('cockpit/js/bootstrap.min.js') }}"></script>
        <!-- jquery datatables -->
    <script src="{{ asset('cockpit/js/datatables/jquery.dataTables.min.js') }}"></script>

    <!-- Morris Charts JavaScript -->
    <script src="{{ asset('cockpit/js/plugins/morris/raphael.min.js') }}"></script>
    <script src="{{ asset('cockpit/js/plugins/morris/morris.min.js') }}"></script>
    <script src="{{ asset('cockpit/js/plugins/morris/morris-data.js') }}"></script>
   {% endblock %}
    </body>
</html>