<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Filmzstories!{% endblock %}</title>
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 
        </script>
        {% block stylesheets %}
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        {% endblock %}
         {% block javascripts %}
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/responsiveslides.min.js') }}"></script>
         {% endblock %} 
    </head>
    <body>
        <div class="container">
            <div class="container_wrap">
                <div class="header_top">
                <div class="col-sm-3 logo"><a href="{{ path('filmzstories_filmz_homepage') }}"><img src="/images/logo.png" alt=""/></a></div>
                <!-- <div class="col-sm-6 nav">
                  <ul>
                     <li> <span class="simptip-position-bottom simptip-movable" data-tooltip="comic"><a href="movie.html"> </a></span></li>
                     <li><span class="simptip-position-bottom simptip-movable" data-tooltip="movie"><a href="movie.html"> </a> </span></li>
                     <li><span class="simptip-position-bottom simptip-movable" data-tooltip="video"><a href="movie.html"> </a></span></li>
                     <li><span class="simptip-position-bottom simptip-movable" data-tooltip="game"><a href="movie.html"> </a></span></li>
                     <li><span class="simptip-position-bottom simptip-movable" data-tooltip="tv"><a href="movie.html"> </a></span></li>
                     <li><span class="simptip-position-bottom simptip-movable" data-tooltip="more"><a href="movie.html"> </a></span></li>
                 </ul>
                </div>-->
                <div class="col-sm-3 header_right pull-right">
                   <ul class="header_right_box">
                     <li>
                        <p>
                            {% if is_granted('ROLE_ADMIN')%}
                            <a href="#">Hello {{ app.user.username }}</a>
                            {% else %}
                            <a href="{{path('login')}}">connectez-vous</a>
                            {%  endif %}
                        </p>
                    </li>
                     <li class="last"><i class="edit"> </i></li>
                     <div class="clearfix"> </div>
                   </ul>
                </div>
            
                <div class="clearfix"> </div>
              </div>
              {% block body%}{% endblock %}
            </div>
        </div>
        <div class="container"> 
 <footer id="footer">
    <div id="footer-3d">
        <div class="gp-container">
            <span class="first-widget-bend"></span>
        </div>      
    </div>
    <div id="footer-widgets" class="gp-footer-larger-first-col">
        <div class="gp-container">
            <div class="footer-widget footer-1">
                <div class="wpb_wrapper">
                    <img src="/images/f_logo.png" alt=""/>
                </div> 
              <br>
              <p>Les meilleurs films du moment actualisés chaque fin de semaine.</p>
              <p class="text">Partenaire de netflix france.</p>
             </div>
             <div class="footer_box">
              <div class="col_1_of_3 span_1_of_3">
                    <h3>Categories</h3>
                    <ul class="first">
                        <li><a href="#">Sciences fiction</a></li>
                        <li><a href="#">Comedie</a></li>
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Aventure</a></li>
                    </ul>
             </div>
             <div class="col_1_of_3 span_1_of_3">
                    <h3>Information</h3>
                    <ul class="first">
                        <li><a href="#">les mieux notés</a></li>
                        <li><a href="#">top films</a></li>
                        <li><a href="#">Nouveautés</a></li>
                    </ul>
             </div>
             <div class="col_1_of_3 span_1_of_3">

                    <div class="copy">
                      <p>&copy; Template by <a href="http://w3layouts.com" target="_blank"> w3layouts</a></p>
                      <p>&copy;Developped  by <a href="http://obamezui.com" target="_blank"> obame mezui</a></p>
                    </div>
             </div>
            <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
  </footer>
</div>  

        <script>
            $(function () {
              $("#slider").responsiveSlides({
                auto: true,
                nav: true,
                speed: 500,
                namespace: "callbacks",
                pager: true,
              });
            });
        </script>
    </body>
</html>