{% extends '::cockpit.html.twig' %}

{% block body %}
    <h1>Editer un acteur</h1>
    <ul class="ulicons">
        <li>
            {{ form_start(delete_form) }}
            <i class="fa fa-trash fa-4" aria-hidden="true">
                <input class="btn btn-warning" type="submit" value="Supprimer">
            </i>
            {{ form_end(delete_form) }}
        </li>
        <li>
             <i class="fa fa-undo fa-4" aria-hidden="true">
               <a href="{{ path('cockpit_actor_index') }}">Retour à la liste des acteurs</a> 
            </i>
        </li>
    </ul>
    <div class="clearfix"></div>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <i class="fa fa-pencil fa-4" aria-hidden="true">
            <input class="btn btn-primary" type="submit" value="Editer" />
        </i>
    {{ form_end(edit_form) }}
{% endblock %}
