{% extends '::cockpit.html.twig' %}

{% block body %}
    <h1>Créer un acteur </h1>
    <div class="clearfix"></div>
    <ul class="ulicons">
        <li>
             <i class="fa fa-undo fa-4" aria-hidden="true">
               <a href="{{ path('cockpit_actor_index') }}">Retour à la liste des acteurs</a> 
            </i>
        </li>
    </ul>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-primary" type="submit"  value="Creer" />
    {{ form_end(form) }}


{% endblock %}
