{% extends '::cockpit.html.twig' %}

{% block body %}
    <h1>{{actor.lastname}}</h1>
        <ul class="ulicons">
            <li>
                <i class="fa fa-undo fa-2">
                    <a href="{{ path('cockpit_actor_index') }}">Retour à la liste des acteurs</a>
                </i>
            </li>
            <li>
                <i class="fa fa-pencil fa-2">
                    <a href="{{ path('cockpit_actor_edit', { 'id': actor.id }) }}">Editer</a>
                </i>
            </li>
            <li>
                {{ form_start(delete_form) }}
                    <input class="btn btn-warning" type="submit" value="Supprimer">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    <div class="clearfix"></div>

    <table class="table table-striped table-bordered table-hover" id="dataTable">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ actor.id }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ actor.firstname }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ actor.lastname }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ actor.description }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
