{% extends '::public.html.twig' %}
{% block body %}

<div class="container">
  <h2><p>{{user.username}} </p></h2>            
  <table class="table">
    <thead>
      <tr>
      	<th>Id</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Login</th>
         <th>Mot de passe</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    	<tr>
	        <td><a href="path('cockpit_user_edit',{'id':{{user.id}}})">{{user.id}}</a></td>
	        <td>{{user.username}}</td>
	        <td>{{user.firstname}}</td>
	        <td>{{user.login}}</td>
	        <td>{{user.password|slice(0,20)}}</td>
	        <td>action</td>
      	</tr>
      
    </tbody>
  </table>
</div>
{% endblock %}