{% extends '::cockpit.html.twig' %}

{% block body %}
    <h1>{{ user.username }}</h1>
     <ul class="ulicons">
        <li>
            <i class="fa fa-undo fa-4" aria-hidden="true">
                <a href="{{ path('cockpit_user_index') }}">Retour à la liste d'utilisateur</a>
            </i>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-warning" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    <div class="clearfix"></div>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-primary" type="submit" value="Editer" />
    {{ form_end(edit_form) }}
{% endblock %}
