{% extends '::cockpit.html.twig' %}

{% block body %}
    <h1>Ajouter un utilisateur</h1>
    <ul class="ulicons">
        <li>
            <i class="fa fa-undo fa-4" aria-hidden="true">
                <a href="{{ path('cockpit_user_index') }}">Retour à  la liste des utilisateurs</a>
            </i>
        </li>
    </ul>
    <div class="clearfix"></div>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-primary" type="submit" class="btn btn-default" value="Créer" />
    {{ form_end(form) }}
{% endblock %}
