{% extends '::cockpit.html.twig' %}

{% block body %}
    <h1>{{ user.username }}</h1>

        <ul class="ulicons">
        <li>
            <i class="fa fa-undo fa-4" aria-hidden="true">
                <a href="{{ path('cockpit_user_index') }}">Retour à la liste</a>
            </i>
        </li>
        <li>
            <i class="fa fa-pencil fa-4" aria-hidden="true">
                <a href="{{ path('cockpit_user_edit', { 'id': user.id }) }}">Editer</a>
            </i>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-warning" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    <div class="clearfix"></div>

    <table class="table table-striped table-bordered table-hover" id="dataTable">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ user.login }}</td>
            </tr>
            <tr>
                <th>Mot de passe</th>
                <td>{{ user.password | slice(0,20) }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
