
{%  extends '::login.html.twig'  %}
{%  block body   -%}
<div class="row">
<div class="col-md-3"></div>
<div class="col-md-6">

    {% if error %}
        <div class="form-group">
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        </div>
    {% endif %}
    <form action="{{ path('login_check') }}" class="form-horizontal" method="post">
    <div class="form-group">
        <label class="control-label col-sm-2" for="username">Username:</label>
        <div class="col-sm-10">
            <input type="text" id="username" class="form-control" name="_username" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="password">Password:</label>
        <div class="col-sm-10">
            <input type="password" id="password" class="form-control" name="_password" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default" type="submit">login</button>
        </div>
    </div>
</form>
</div>
<div class="col-md-3"></div>
</div>

{%  endblock   %}