{% extends 'cockpit.html.twig' %}

{% block body %}
    <h1>{{ movie.title}}</h1>
    <ul class="ulicons">
        <li>
            <i class="fa fa-undo fa-2">
                <a href="{{ path('cockpit_movie_index') }}">Retour à la liste des films</a>
            </i>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-warning" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    <div class="clearfix"></div>
    <img class="img-thumbnail" src="/images/movies/{{ movie.image}}" alt="{{ movie.title }}">
    <div class="clearfix"></div>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-primary" type="submit" value="Editer" />
    {{ form_end(edit_form) }}

    
{% endblock %}
