{% extends 'cockpit.html.twig' %}

{% block body %}
    <h1>Liste des films</h1>
       <ul class="ulicons">
            <li>
                <a class="btn btn-primary" href="{{ path('cockpit_movie_new') }}">Ajouter un film</a>
            </li>
        </ul>
        <div class="clearfix"></div>

    <table class="table table-striped table-bordered table-hover" id="dataTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Date de realisation</th>
                <th>Description</th>
                <th>Affiche</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for movie in movies %}
            <tr>
                <td><a href="{{ path('cockpit_movie_show', { 'id': movie.id }) }}">{{ movie.id }}</a></td>
                <td>{{ movie.title }}</td>
                <td>{{ movie.releaseyear }}</td>
                <td>{{ movie.description | slice(0,20) }}</td>
                <td>
                    <img class="img-thumbnail" src="/images/movies/{{ movie.image}}" alt="{{ movie.title }}">
                </td>
                <td>
                    <ul class="ulicons">
                        <li>
                            <i class="fa fa-eye fa-2" aria-hidden="true">
                                <a href="{{ path('cockpit_movie_show', { 'id': movie.id }) }}">Afficher</a>
                            </i>
                        </li>
                        <li>
                            <i class="fa fa-pencil fa-2" aria-hidden="true">
                                <a href="{{ path('cockpit_movie_edit', { 'id': movie.id }) }}">Editer</a>
                            </i>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

 
    <script>
    $(document).ready(function() {
        $('#dataTable').DataTable({"language":{
    "sProcessing":     "Traitement en cours...",
    "sSearch":         "Rechercher&nbsp;:",
    "sLengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
    "sInfo":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
    "sInfoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
    "sInfoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
    "sInfoPostFix":    "",
    "sLoadingRecords": "Chargement en cours...",
    "sZeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
    "sEmptyTable":     "Aucune donn&eacute;e disponible dans le tableau",
    "oPaginate": {
        "sFirst":      "Premier",
        "sPrevious":   "Pr&eacute;c&eacute;dent",
        "sNext":       "Suivant",
        "sLast":       "Dernier"
    },
    "oAria": {
        "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
        "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
    }
},"responsive":true});
    });
    </script>
{% endblock %}
