{% extends 'cockpit.html.twig' %}

{% block body %}
    <h1>Créer un film</h1>
    <ul class="ulicons">
        <li>
            <i class="fa fa-undo fa-2" aria-hidden="true">
                <a href="{{ path('cockpit_movie_index') }}">Retour à la liste des films</a>
            </i>
        </li>
    </ul>
    <div class="clearfix"></div>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input  class="btn btn-primary" type="submit" value="Créer" />
    {{ form_end(form) }}

{% endblock %}
