{% extends 'cockpit.html.twig' %}

{% block body %}
    <h1>{{ movie.title }}</h1>
     <ul class="ulicons">
        <li>
            <i class="fa fa-undo fa-2">
                <a href="{{ path('cockpit_movie_index') }}">Retour à la liste des films</a>
            </i>
        </li>
        <li>
            <i class="fa fa-pencil fa-2">
            <a href="{{ path('cockpit_movie_edit', { 'id': movie.id }) }}">Editer</a>
            </i>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-primary" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    <div class="clearfix"></div>
    <img class="img-thumbnail" src="/images/movies/{{ movie.image}}" alt="{{ movie.title }}">
    <div class="clearfix"></div>

    <table class="table table-striped table-bordered table-hover" id="dataTable">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ movie.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ movie.title }}</td>
            </tr>
            <tr>
                <th>Année de réalisation</th>
                <td>{{ movie.releaseyear }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ movie.description }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
