{%  extends '::login.html.twig'  %}
{%  block body   -%}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Connexion</h3>
                </div>
                 <div class="panel-body">

                        {% if error %}
                            <div class="form-group">
                                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            </div>
                        {% endif %}
                        <form action="{{ path('login_check') }}" role="form" method="post">
                            <fieldset>
                            <div class="form-group">
                                    <input type="text" id="username" placeholder="votre login" class="form-control" name="_username" />
                            </div>
                            <div class="form-group">
                                    <input type="password" id="password" placeholder="votre mot de passe" class="form-control" name="_password" />
                            </div>
                            
                                    <button class="btn btn-success btn-block" type="submit">login</button>
                                </div>
                          </fieldset>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>

{%  endblock   %}